:root {
    --color-purple: #c273fc;
    --color-white : #f4f1f1;
    --color-black : #071629;

    --main-color     : var(--color-white);
    --secondary-color: var(--color-purple);
    --arrow-color    : var(--color-black);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    background     : url('./images/pic_1.jpg') top center no-repeat;
    background-size: cover;
}

.text-purple {
    color: var(--secondary-color);
}

.text-responsive {
    font-size: 10vw;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-32 {
    font-size: 2rem;
}

.contract-spacing {
    letter-spacing: -.1rem;
}

.color-button-purple {
    background-color: var(--secondary-color);
    box-shadow      : 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.bg-purple {
    background: var(--secondary-color);
}

[class*='holberton_school-icon-arrow'] {
    font-size  : 6rem;
    font-weight: 400;
    color      : var(--arrow-color);
}

.quote-section [class*='holberton_school-icon-arrow'] {
    color: var(--main-color);
}

.video-card-control {
    width : 255px;
    height: 355px;
}

.play-icon-position {
    margin-top : -7rem;
    margin-left: 5.5rem;
}

.free-membership {
    background: var(--color-black);
    color     : var(--main-color);
}

.cad-membership__logo {
    height: 36px;
    width : 45px;
}

footer {
    background: var(--color-black);
}

.footer__rights {
    opacity: .4;
}

footer [class*='holberton_school-icon-ic_'] {
    color    : white;
    width    : 30px;
    height   : 30px;
    font-size: 2rem;
}